* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    transition: all ease .3s
}

body {
    background-image: url('../img/fondo.gif');
    background-size: cover;
    background-repeat: no-repeat
}

.header {
    width: 100%;
    padding: 1.5em 0 0 0;
    text-align: center
}

    .header h1 {
        letter-spacing: 2px;
        color: #fff
    }

.container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around
}

    .article {
        width: 33%;
        padding: 3em;
        text-align: center;
        border-radius: 5px;
        margin: 2em;
        border: 1px solid #aaa;
        background: #fff
    }

    .tipo {
        font-size: 34px;
        font-weight: 700;
        color: #38598b
    }

    .nombre {
        font-size: 24px;
        font-weight: 700;
        color: #a2a8d3
    }

    progress {
        height: 10px;
        width: 80%;
        -webkit-appearance: none;
        border-radius: 5px; 
        overflow: hidden;
        margin: 1em 0
    }

        progress[value]::-webkit-progress-bar{
            background: #dd6b4d;
        }

        progress[value]::-webkit-progress-value{
            background: #47b343
        }

    .imagen {
        width: 100%
    }

        .imagen img {
            width: 100%;
            max-width: 150px;
            height: auto;
            margin: 1em 0
        }

    .propiedades {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

        .experiencia, .vida, .cualidad {
            color: #38598b;
            font-size: 16px
        }

        .experiencia span, .vida span, .cualidad span {
            color: #dd6b4d;
            font-weight: 700
        }

    .boton {
        margin: 2em 0 0 0;
        width: 100px;
        height: 60px;
        text-align: center;
        background: transparent;
        border: 1px solid #dd6b4d;
        border-radius: 5px;
        color: #dd6b4d;
        font-weight: 700;
        font-size: 16px;
        outline: none;
        cursor: pointer
    }

        .boton:hover {
            background: #dd6b4d;
            color: #fff
        }

    select {
        width: 100px;
        height: 60px;
        outline: none;
        text-align: center;
        background: #dd6b4d;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 14px
    }



@media (max-width: 700px) {
    .container {
        flex-flow: row wrap
    }

        .article {
            width: 100%
        }
}